In [63]:
!pip install nxviz
import pandas as pd
import numpy as np
import seaborn as sns
import networkx as nx
import matplotlib.pyplot as plt
from itertools import combinations as comb
from networkx.algorithms import bipartite
import nxviz as nv

from google.colab import drive
drive.mount('/content/drive')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nxviz in /usr/local/lib/python3.8/dist-packages (0.7.4)
Requirement already satisfied: more-itertools>=8.6.0 in /usr/local/lib/python3.8/dist-packages (from nxviz) (9.0.0)
Requirement already satisfied: palettable>=3.3.0 in /usr/local/lib/python3.8/dist-packages (from nxviz) (3.3.0)
Requirement already satisfied: networkx>=2.5 in /usr/local/lib/python3.8/dist-packages (from nxviz) (2.6.3)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from nxviz) (1.3.5)
Requirement already satisfied: matplotlib>=3.3.3 in /usr/local/lib/python3.8/dist-packages (from nxviz) (3.6.2)
Requirement already satisfied: numpy>=1.19.4 in /usr/local/lib/python3.8/dist-packages (from nxviz) (1.21.6)
Requirement already satisfied: seaborn>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from nxviz) (0.11.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.3.3->nxviz) (7.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.3.3->nxviz) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.3.3->nxviz) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.3.3->nxviz) (1.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.3.3->nxviz) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.3.3->nxviz) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.3.3->nxviz) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.3.3->nxviz) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.0->nxviz) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=3.3.3->nxviz) (1.15.0)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.8/dist-packages (from seaborn>=0.11.1->nxviz) (1.7.3)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [64]:
name_basics = "name.basics.tsv"
nb_columns = ['nconst', 
              'primaryName', 
              'birthYear', 
              'deathYear', 
              'primaryProfession']

nb_df = pd.read_csv(name_basics,sep='\t',header=0,usecols=nb_columns)
nb_df = nb_df[~nb_df['birthYear'].str.contains("N", na=False)]
nb_df.dropna()
nb_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor"

In [65]:
title_akas = "title.akas.tsv"
ta_columns = ['titleId', 'ordering', 'title', 'region', 'language', 'types', 'attributes', 'isOriginalTitle']
convert_dict = {'titleId': str, 'ordering': str, 'title': str, 
                'region': str, 'language': str, 'types': str, 'attributes': str, 'isOriginalTitle': str}

ta_df = pd.read_csv(title_akas,sep='\t',header=0,usecols=ta_columns,dtype=convert_dict)
ta_df = ta_df[ta_df['isOriginalTitle'] == '1']
ta_df.rename(columns={'titleId':'tconst'}, inplace=True)
ta_df.dropna()
ta_df.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
21,tt0000003,6,Pauvre Pierrot,\N,\N,original,\N,1
25,tt0000004,1,Un bon bock,\N,\N,original,\N,1
34,tt0000005,11,Blacksmith Scene,\N,\N,original,\N,1

In [66]:
title_basics = "title.basics.tsv"
tb_columns = ['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'startYear', 'isAdult', 'endYear', 'runtimeMinutes', 'genres']
convert_dict = {'tconst': str, 'titleType': str, 'primaryTitle': str, 'originalTitle': str, 
                'startYear': str, 'isAdult': object,'endYear': str, 'runtimeMinutes': str, 'genres': object}

tb_df = pd.read_csv(title_basics,sep='\t',header=0,usecols=tb_columns,dtype=convert_dict)
tb_df.dropna()
tb_df = tb_df[~tb_df['genres'].str.contains('N', na=False)]
tb_df = tb_df[~tb_df['startYear'].str.contains("N", na=False)]
tb_df = tb_df[~tb_df['isAdult'].str.contains("N", na=False)]
tb_df = tb_df.dropna(subset=['isAdult'])
tb_df = tb_df[tb_df['isAdult'].astype(int) == 0]
tb_df = tb_df[tb_df['titleType'] == "movie"]
tb_df = tb_df[tb_df['startYear'].astype(int) >= 2002]
tb_df = tb_df[tb_df['startYear'].astype(int) <= 2022]
tb_df = (tb_df.drop(columns='genres').join(tb_df['genres'].str.get_dummies(sep=',')))
tb_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,Action,Adult,...,Mystery,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,\N,\N,1,0,...,0,0,0,0,0,0,0,0,0,0
13080,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,133,0,0,...,0,0,0,0,0,0,0,0,0,0
61097,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,\N,70,0,0,...,0,0,0,0,0,0,0,0,0,0
66314,tt0067683,movie,Workers '71: Nothing About Us Without Us,Robotnicy 1971 - Nic o nas bez nas,0,2006,\N,47,0,0,...,0,0,0,0,0,0,0,0,0,0
67645,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
title_ratings = "title.ratings.tsv"
tr_columns = ['tconst', 'averageRating', 'numVotes']

tr_df = pd.read_csv(title_ratings,sep='\t',header=0,usecols=tr_columns)
tr_df = tr_df.dropna()
tr_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1924
1  tt0000002            5.8       260
2  tt0000003            6.5      1737
3  tt0000004            5.6       175
4  tt0000005            6.2      2551

In [68]:
title_principals = "drive/MyDrive/title.principals.tsv"
tp_columns = ['tconst', 'ordering', 'nconst', 'category', 'job', 'characters']

tp_df = pd.read_csv(title_principals,sep='\t',header=0,usecols=tp_columns)
tp_df = tp_df[tp_df['category'] == "actor"]
tp_df.drop('ordering', axis=1, inplace=True) 
tp_df.drop('category', axis=1, inplace=True) 
tp_df.drop('job', axis=1, inplace=True) 
tp_df.drop('characters', axis=1, inplace=True) 
tp_df = tp_df.dropna()
tp_df.head()

       tconst     nconst
11  tt0000005  nm0443482
12  tt0000005  nm0653042
16  tt0000007  nm0179163
17  tt0000007  nm0183947
21  tt0000008  nm0653028

In [69]:
# Setup relationship dataframe to construct bipartite graph
bipartite_df = pd.merge(tp_df, tb_df, how='inner',on='tconst')
bipartite_df = bipartite_df.drop(bipartite_df.columns[2:],axis = 1)
bipartite_df.head()

      tconst     nconst
0  tt0011801  nm0459029
1  tt0011801  nm0681726
2  tt0011801  nm0726256
3  tt0011801  nm0776458
4  tt0011801  nm0666006

In [70]:
# Create dataframe with amount of appearances of each index in main dataframe (how many movies each actor has participated in)

v = bipartite_df["nconst"].value_counts()
v = v.to_frame().reset_index()
v.rename(columns={'nconst' :'value', 'index' :'nconst'}, inplace=True)
v.head()

      nconst  value
0  nm0695177     47
1  nm0000821     44
2  nm0415549     43
3  nm0007123     38
4  nm0474774     38

In [139]:
# Add actor info to v dataframe

res = pd.merge(v, nb_df, how='inner',on='nconst')
res.head(50)

,nconst,value,primaryName,birthYear,deathYear,primaryProfession
0,nm0695177,47,Prakash Raj,1965,\N,"actor,producer,director"
1,nm0000821,44,Amitabh Bachchan,1942,\N,"music_artist,actor,producer"
2,nm0415549,43,Jagathy Sreekumar,1951,\N,"actor,writer,director"
3,nm0007123,38,Mammootty,1951,\N,"actor,producer,music_department"
4,nm0474774,38,Akshay Kumar,1967,\N,"actor,producer,soundtrack"
5,nm0222881,38,Tony Devon,1951,2022,"actor,producer,writer"
6,nm0222426,36,Ajay Devgn,1969,\N,"actor,producer,music_department"
7,nm0226770,35,Dileep,1968,\N,"actor,producer,assistant_director"
8,nm0482320,34,Mohanlal,1960,\N,"actor,music_department,producer"
9,nm0004109,33,Gulshan Grover,1955,\N,"actor,music_department"
10,nm0451600,33,Anupam Kher,1955,\N,"actor,producer,music_department"
11,nm0542343,32,Kalabhavan Mani,1971,2016,"actor,music_department,soundtrack"
12,nm0792911,32,Suniel Shetty,1961,\N,"actor,producer"
13,nm0004569,31,Sanjay Dutt,1959,\N,"actor,music_department,soundtrack"
14,nm0000514,30,Michael Madsen,1957,\N,"actor,producer,writer"
15,nm0000168,30,Samuel L. Jackson,1948,\N,"actor,producer,soundtrack"
16,nm0103977,29,Brahmanandam,1956,\N,"actor,music_department,soundtrack"
17,nm0045393,26,Abhishek Bachchan,1976,\N,"actor,music_department,soundtrack"
18,nm0000579,26,Ron Perlman,1950,\N,"actor,producer,soundtrack"
19,nm0000367,26,Gérard Depardieu,1948,\N,"actor,producer,soundtrack"
20,nm0006795,26,Salman Khan,1965,\N,"actor,producer,soundtrack"
21,nm0943079,26,Daniel Wu,1974,\N,"actor,producer,director"
22,nm0712546,25,Paresh Rawal,1950,\N,"actor,producer,soundtrack"
23,nm0465503,25,Louis Koo,1970,\N,"actor,producer,soundtrack"
24,nm0075710,25,François Berléand,1952,\N,"actor,composer,soundtrack"
25,nm0080238,25,Tanikella Bharani,1954,\N,"actor,writer,director"
26,nm0419688,25,Jayaram,1964,\N,"actor,music_department,miscellaneous"
27,nm0038355,24,Tadanobu Asano,1973,\N,"actor,director,composer"
28,nm0329730,24,Suresh Gopi,1958,\N,"actor,music_department,editor"
29,nm0261724,24,Joe Estevez,1946,\N,"actor,producer,miscellaneous"
30,nm0180404,24,Clovis Cornillac,1967,\N,"actor,director,writer"
31,nm0019382,23,Mohammad Ali,1968,\N,actor
32,nm0000191,23,Ewan McGregor,1971,\N,"actor,writer,producer"
33,nm0000353,23,Willem Dafoe,1955,\N,"actor,soundtrack,producer"
34,nm0222145,23,Rajan P. Dev,1954,2009,"actor,director"
35,nm0792116,23,Jimmy Shergill,1970,\N,"actor,producer,miscellaneous"
36,nm0709359,23,Ashutosh Rana,1967,\N,"actor,music_department"
37,nm0621937,23,Nassar,1958,\N,"actor,writer,director"
38,nm0451234,23,Irrfan Khan,1967,2020,"actor,director,producer"
39,nm0000115,23,Nicolas Cage,1964,\N,"actor,producer,soundtrack"
40,nm0007106,22,Shakti Kapoor,1952,\N,"actor,music_department"
41,nm0000151,22,Morgan Freeman,1937,\N,"actor,producer,director"
42,nm0396069,22,Hassan Hosny,1936,2020,actor
43,nm0001016,22,David Carradine,1936,2009,"actor,producer,soundtrack"
44,nm0149822,22,Mithun Chakraborty,1950,\N,"actor,music_department,writer"
45,nm0938893,22,Anthony Chau-Sang Wong,1961,\N,"actor,director,writer"
46,nm0000997,21,Gary Busey,1944,\N,"actor,soundtrack,producer"
47,nm0359880,21,Cochin Hanifa,1951,2010,"actor,director,writer"
48,nm0001426,21,Ben Kingsley,1943,\N,"actor,soundtrack,producer"
49,nm0005351,21,Ryan Reynolds,1976,\N,"actor,producer,writer"

In [140]:
# Filter actors with less than 6 appearances

df3 = res[res['value'] > 5]  
df3.head()

,nconst,value,primaryName,birthYear,deathYear,primaryProfession
0,nm0695177,47,Prakash Raj,1965,\N,"actor,producer,director"
1,nm0000821,44,Amitabh Bachchan,1942,\N,"music_artist,actor,producer"
2,nm0415549,43,Jagathy Sreekumar,1951,\N,"actor,writer,director"
3,nm0007123,38,Mammootty,1951,\N,"actor,producer,music_department"
4,nm0474774,38,Akshay Kumar,1967,\N,"actor,producer,soundtrack"

In [141]:
bipartite_df = pd.merge(bipartite_df, df3, how='inner',on='nconst')
bipartite_df = bipartite_df.drop(bipartite_df.columns[2:],axis = 1)
bipartite_df.head()

      tconst     nconst
0  tt0121569  nm0222881
1  tt0198794  nm0222881
2  tt0299799  nm0222881
3  tt0303327  nm0222881
4  tt0338395  nm0222881

# Create bipartite graph

In [142]:
G = nx.Graph()
G.add_nodes_from(bipartite_df['tconst'], bipartite=0)
G.add_nodes_from(bipartite_df['nconst'], bipartite=1)

In [143]:
G.add_edges_from(zip(bipartite_df['tconst'], bipartite_df['nconst']))

In [144]:
nx.is_bipartite(G)

True

In [145]:
G.number_of_nodes()

1369

In [146]:
nx.is_connected(G)

False

In [147]:
left_or_top = bipartite_df['tconst']
pos = nx.bipartite_layout(G, left_or_top)

In [148]:
actors_nodes = set(n for n,d in G.nodes(data=True) if d['bipartite']==1)
movies_nodes = set(G) - actors_nodes

In [149]:
A = bipartite.projected_graph(G, actors_nodes)

In [150]:
A.number_of_nodes()

57

In [151]:
nx.is_connected(A)

False

In [152]:
degree_centrality = nx.degree_centrality(A)
degree_centrality

{'nm0000809': 0.017857142857142856,
 'nm0943079': 0.03571428571428571,
 'nm0103977': 0.05357142857142857,
 'nm0305182': 0.0,
 'nm0045393': 0.14285714285714285,
 'nm0075710': 0.0,
 'nm0080238': 0.05357142857142857,
 'nm0712546': 0.10714285714285714,
 'nm0006763': 0.10714285714285714,
 'nm0000354': 0.017857142857142856,
 'nm0465503': 0.017857142857142856,
 'nm0000821': 0.21428571428571427,
 'nm0222881': 0.0,
 'nm0007123': 0.125,
 'nm0001016': 0.03571428571428571,
 'nm0180404': 0.017857142857142856,
 'nm0019382': 0.05357142857142857,
 'nm0261724': 0.0,
 'nm0621937': 0.08928571428571427,
 'nm0451600': 0.1607142857142857,
 'nm0415549': 0.14285714285714285,
 'nm0000579': 0.03571428571428571,
 'nm0226770': 0.10714285714285714,
 'nm0004109': 0.14285714285714285,
 'nm0000367': 0.03571428571428571,
 'nm0542343': 0.14285714285714285,
 'nm0000353': 0.03571428571428571,
 'nm0222426': 0.1607142857142857,
 'nm0482320': 0.14285714285714285,
 'nm0419688': 0.125,
 'nm0005351': 0.03571428571428571,
 'nm0474774': 0.1607142857142857,
 'nm0149822': 0.08928571428571427,
 'nm0792911': 0.1607142857142857,
 'nm0001426': 0.03571428571428571,
 'nm0000800': 0.017857142857142856,
 'nm0000151': 0.03571428571428571,
 'nm0007106': 0.125,
 'nm0000191': 0.017857142857142856,
 'nm0038355': 0.03571428571428571,
 'nm0938893': 0.03571428571428571,
 'nm0359880': 0.14285714285714285,
 'nm0008346': 0.017857142857142856,
 'nm0004569': 0.125,
 'nm0451234': 0.08928571428571427,
 'nm0792116': 0.08928571428571427,
 'nm0329730': 0.125,
 'nm0000514': 0.03571428571428571,
 'nm0000997': 0.017857142857142856,
 'nm0709359': 0.10714285714285714,
 'nm0222145': 0.10714285714285714,
 'nm0000168': 0.03571428571428571,
 'nm0000115': 0.03571428571428571,
 'nm0695177': 0.10714285714285714,
 'nm0643885': 0.03571428571428571,
 'nm0396069': 0.0,
 'nm0006795': 0.14285714285714285}

In [153]:
most_influential = list()
for node in sorted(degree_centrality, key=degree_centrality.get, reverse=True):
    most_influential.append(node)
    print(node, degree_centrality[node])

nm0000821 0.21428571428571427
nm0451600 0.1607142857142857
nm0222426 0.1607142857142857
nm0474774 0.1607142857142857
nm0792911 0.1607142857142857
nm0045393 0.14285714285714285
nm0415549 0.14285714285714285
nm0004109 0.14285714285714285
nm0542343 0.14285714285714285
nm0482320 0.14285714285714285
nm0359880 0.14285714285714285
nm0006795 0.14285714285714285
nm0007123 0.125
nm0419688 0.125
nm0007106 0.125
nm0004569 0.125
nm0329730 0.125
nm0712546 0.10714285714285714
nm0006763 0.10714285714285714
nm0226770 0.10714285714285714
nm0709359 0.10714285714285714
nm0222145 0.10714285714285714
nm0695177 0.10714285714285714
nm0621937 0.08928571428571427
nm0149822 0.08928571428571427
nm0451234 0.08928571428571427
nm0792116 0.08928571428571427
nm0103977 0.05357142857142857
nm0080238 0.05357142857142857
nm0019382 0.05357142857142857
nm0943079 0.03571428571428571
nm0001016 0.03571428571428571
nm0000579 0.03571428571428571
nm0000367 0.03571428571428571
nm0000353 0.03571428571428571
nm0005351 0.03571428571428571
nm0001426 0.03571428571428571
nm0000151 0.03571428571428571
nm0038355 0.03571428571428571
nm0938893 0.03571428571428571
nm0000514 0.03571428571428571
nm0000168 0.03571428571428571
nm0000115 0.03571428571428571
nm0643885 0.03571428571428571
nm0000809 0.017857142857142856
nm0000354 0.017857142857142856
nm0465503 0.017857142857142856
nm0180404 0.017857142857142856
nm0000800 0.017857142857142856
nm0000191 0.017857142857142856
nm0008346 0.017857142857142856
nm0000997 0.017857142857142856
nm0305182 0.0
nm0075710 0.0
nm0222881 0.0
nm0261724 0.0
nm0396069 0.0

In [154]:
mi = most_influential[:20]
mi_df = pd.DataFrame (mi, columns = ['nconst'])
mi_df.head()

      nconst
0  nm0000821
1  nm0451600
2  nm0222426
3  nm0474774
4  nm0792911

In [155]:
res = pd.merge(mi_df, nb_df, how='inner',on='nconst')
res.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession
0,nm0000821,Amitabh Bachchan,1942,\N,"music_artist,actor,producer"
1,nm0451600,Anupam Kher,1955,\N,"actor,producer,music_department"
2,nm0222426,Ajay Devgn,1969,\N,"actor,producer,music_department"
3,nm0474774,Akshay Kumar,1967,\N,"actor,producer,soundtrack"
4,nm0792911,Suniel Shetty,1961,\N,"actor,producer"

In [156]:
print(list(nx.connected_components(A)))

[{'nm0000367', 'nm0000809', 'nm0180404'}, {'nm0943079', 'nm0008346', 'nm0038355', 'nm0938893', 'nm0465503', 'nm0643885'}, {'nm0103977', 'nm0045393', 'nm0080238', 'nm0712546', 'nm0006763', 'nm0000821', 'nm0007123', 'nm0019382', 'nm0621937', 'nm0451600', 'nm0415549', 'nm0226770', 'nm0004109', 'nm0542343', 'nm0222426', 'nm0482320', 'nm0419688', 'nm0474774', 'nm0149822', 'nm0792911', 'nm0007106', 'nm0359880', 'nm0004569', 'nm0451234', 'nm0792116', 'nm0329730', 'nm0709359', 'nm0222145', 'nm0695177', 'nm0006795'}, {'nm0305182'}, {'nm0075710'}, {'nm0000997', 'nm0001016', 'nm0001426', 'nm0000151', 'nm0000354', 'nm0000514'}, {'nm0222881'}, {'nm0261724'}, {'nm0005351', 'nm0000800', 'nm0000191', 'nm0000115', 'nm0000168', 'nm0000579', 'nm0000353'}, {'nm0396069'}]

In [157]:
print(nx.number_connected_components(A))

10

In [158]:
closeness_centrality = nx.closeness_centrality(A)
closeness_centrality

{'nm0000809': 0.023809523809523808,
 'nm0943079': 0.040584415584415584,
 'nm0103977': 0.1687399678972713,
 'nm0305182': 0.0,
 'nm0045393': 0.23837868480725624,
 'nm0075710': 0.0,
 'nm0080238': 0.1687399678972713,
 'nm0712546': 0.23465401785714288,
 'nm0006763': 0.23465401785714288,
 'nm0000354': 0.02976190476190476,
 'nm0465503': 0.02976190476190476,
 'nm0000821': 0.31287202380952384,
 'nm0222881': 0.0,
 'nm0007123': 0.20023809523809524,
 'nm0001016': 0.040584415584415584,
 'nm0180404': 0.023809523809523808,
 'nm0019382': 0.1687399678972713,
 'nm0261724': 0.0,
 'nm0621937': 0.23837868480725624,
 'nm0451600': 0.25892857142857145,
 'nm0415549': 0.21454081632653066,
 'nm0000579': 0.040178571428571425,
 'nm0226770': 0.24222350230414746,
 'nm0004109': 0.25029761904761905,
 'nm0000367': 0.03571428571428571,
 'nm0542343': 0.21454081632653066,
 'nm0000353': 0.04945054945054945,
 'nm0222426': 0.27810846560846564,
 'nm0482320': 0.2634711779448622,
 'nm0419688': 0.23104395604395608,
 'nm0005351': 0.05357142857142857,
 'nm0474774': 0.2461943793911007,
 'nm0149822': 0.21151911468812878,
 'nm0792911': 0.24222350230414746,
 'nm0001426': 0.04960317460317461,
 'nm0000800': 0.03061224489795918,
 'nm0000151': 0.040584415584415584,
 'nm0007106': 0.24222350230414746,
 'nm0000191': 0.03061224489795918,
 'nm0038355': 0.040584415584415584,
 'nm0938893': 0.04960317460317461,
 'nm0359880': 0.21454081632653066,
 'nm0008346': 0.02976190476190476,
 'nm0004569': 0.24222350230414746,
 'nm0451234': 0.23837868480725624,
 'nm0792116': 0.21151911468812878,
 'nm0329730': 0.20023809523809524,
 'nm0000514': 0.04960317460317461,
 'nm0000997': 0.02976190476190476,
 'nm0709359': 0.21765010351966874,
 'nm0222145': 0.1900994575045208,
 'nm0000168': 0.040178571428571425,
 'nm0000115': 0.04945054945054945,
 'nm0695177': 0.27810846560846564,
 'nm0643885': 0.04960317460317461,
 'nm0396069': 0.0,
 'nm0006795': 0.2545399515738499}

In [159]:
most_influential2 = list()
for node in sorted(closeness_centrality, key=closeness_centrality.get, reverse=True):
    most_influential2.append(node)
    print(node, closeness_centrality[node])

nm0000821 0.31287202380952384
nm0222426 0.27810846560846564
nm0695177 0.27810846560846564
nm0482320 0.2634711779448622
nm0451600 0.25892857142857145
nm0006795 0.2545399515738499
nm0004109 0.25029761904761905
nm0474774 0.2461943793911007
nm0226770 0.24222350230414746
nm0792911 0.24222350230414746
nm0007106 0.24222350230414746
nm0004569 0.24222350230414746
nm0045393 0.23837868480725624
nm0621937 0.23837868480725624
nm0451234 0.23837868480725624
nm0712546 0.23465401785714288
nm0006763 0.23465401785714288
nm0419688 0.23104395604395608
nm0709359 0.21765010351966874
nm0415549 0.21454081632653066
nm0542343 0.21454081632653066
nm0359880 0.21454081632653066
nm0149822 0.21151911468812878
nm0792116 0.21151911468812878
nm0007123 0.20023809523809524
nm0329730 0.20023809523809524
nm0222145 0.1900994575045208
nm0103977 0.1687399678972713
nm0080238 0.1687399678972713
nm0019382 0.1687399678972713
nm0005351 0.05357142857142857
nm0001426 0.04960317460317461
nm0938893 0.04960317460317461
nm0000514 0.04960317460317461
nm0643885 0.04960317460317461
nm0000353 0.04945054945054945
nm0000115 0.04945054945054945
nm0943079 0.040584415584415584
nm0001016 0.040584415584415584
nm0000151 0.040584415584415584
nm0038355 0.040584415584415584
nm0000579 0.040178571428571425
nm0000168 0.040178571428571425
nm0000367 0.03571428571428571
nm0000800 0.03061224489795918
nm0000191 0.03061224489795918
nm0000354 0.02976190476190476
nm0465503 0.02976190476190476
nm0008346 0.02976190476190476
nm0000997 0.02976190476190476
nm0000809 0.023809523809523808
nm0180404 0.023809523809523808
nm0305182 0.0
nm0075710 0.0
nm0222881 0.0
nm0261724 0.0
nm0396069 0.0

In [160]:
mi2 = most_influential2[:20]
mi2_df = pd.DataFrame (mi2, columns = ['nconst'])
mi2_df.head()
res2 = pd.merge(mi2_df, nb_df, how='inner',on='nconst')
res2.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession
0,nm0000821,Amitabh Bachchan,1942,\N,"music_artist,actor,producer"
1,nm0222426,Ajay Devgn,1969,\N,"actor,producer,music_department"
2,nm0695177,Prakash Raj,1965,\N,"actor,producer,director"
3,nm0482320,Mohanlal,1960,\N,"actor,music_department,producer"
4,nm0451600,Anupam Kher,1955,\N,"actor,producer,music_department"

# Create

In [161]:
movies_nodes_2 = set(n for n,d in G.nodes(data=True) if d['bipartite']==0)
actors_nodes_2 = set(G) - movies_nodes_2

In [162]:
A2 = bipartite.projected_graph(G, movies_nodes_2)

In [163]:
nx.is_connected(A2)

False

In [164]:
A2.number_of_nodes()

1312

In [165]:
degree_centrality2 = nx.degree_centrality(A2)
degree_centrality2

{'tt0266543': 0.016781083142639208,
 'tt0407297': 0.01906941266209001,
 'tt0990363': 0.016018306636155607,
 'tt0314786': 0.015255530129672007,
 'tt0800981': 0.022883295194508012,
 'tt0810988': 0.015255530129672007,
 'tt0337633': 0.038901601830663615,
 'tt0198794': 0.028222730739893214,
 'tt0402580': 0.01754385964912281,
 'tt0497640': 0.016781083142639208,
 'tt0337943': 0.015255530129672007,
 'tt0988655': 0.016781083142639208,
 'tt0887764': 0.016781083142639208,
 'tt0360797': 0.018306636155606407,
 'tt0922642': 0.02212051868802441,
 'tt1102159': 0.038901601830663615,
 'tt0347330': 0.018306636155606407,
 'tt0435390': 0.02440884820747521,
 'tt0455195': 0.01906941266209001,
 'tt0380070': 0.01906941266209001,
 'tt0475263': 0.01906941266209001,
 'tt0462465': 0.01906941266209001,
 'tt0444915': 0.04729214340198322,
 'tt0357340': 0.048054919908466824,
 'tt0814285': 0.016781083142639208,
 'tt0839969': 0.015255530129672007,
 'tt0244521': 0.015255530129672007,
 'tt0790736': 0.015255530129672007,
 'tt0452541': 0.02440884820747521,
 'tt11311754': 0.01906941266209001,
 'tt0845492': 0.03966437833714722,
 'tt1095217': 0.016781083142639208,
 'tt0473398': 0.015255530129672007,
 'tt0420555': 0.01906941266209001,
 'tt0356803': 0.04042715484363082,
 'tt10029484': 0.028222730739893214,
 'tt0364243': 0.025171624713958812,
 'tt10378240': 0.015255530129672007,
 'tt0489099': 0.02212051868802441,
 'tt0834539': 0.016018306636155607,
 'tt0768222': 0.016018306636155607,
 'tt0811066': 0.07017543859649124,
 'tt10978650': 0.028222730739893214,
 'tt0408229': 0.01754385964912281,
 'tt0390527': 0.01754385964912281,
 'tt0906564': 0.015255530129672007,
 'tt0899269': 0.016781083142639208,
 'tt0493402': 0.02212051868802441,
 'tt0757937': 0.015255530129672007,
 'tt0462219': 0.016018306636155607,
 'tt0356467': 0.015255530129672007,
 'tt0888503': 0.016781083142639208,
 'tt0843326': 0.03508771929824562,
 'tt0780500': 0.02212051868802441,
 'tt0847735': 0.018306636155606407,
 'tt0428265': 0.015255530129672007,
 'tt0988074': 0.016018306636155607,
 'tt0456980': 0.015255530129672007,
 'tt10309902': 0.03279938977879481,
 'tt0377127': 0.04881769641495042,
 'tt0451803': 0.01906941266209001,
 'tt0374009': 0.018306636155606407,
 'tt0907106': 0.016781083142639208,
 'tt0452581': 0.016018306636155607,
 'tt0456978': 0.015255530129672007,
 'tt0426075': 0.02364607170099161,
 'tt0363741': 0.025171624713958812,
 'tt0318081': 0.015255530129672007,
 'tt0348656': 0.03279938977879481,
 'tt0320097': 0.07398932112890923,
 'tt10002654': 0.018306636155606407,
 'tt0423841': 0.01754385964912281,
 'tt1039969': 0.03279938977879481,
 'tt1039995': 0.02669717772692601,
 'tt0257756': 0.016018306636155607,
 'tt0459466': 0.015255530129672007,
 'tt0348843': 0.02440884820747521,
 'tt0914863': 0.02212051868802441,
 'tt0439630': 0.016018306636155607,
 'tt0266697': 0.036613272311212815,
 'tt0422574': 0.016018306636155607,
 'tt10343162': 0.016018306636155607,
 'tt1144442': 0.025171624713958812,
 'tt0437407': 0.022883295194508012,
 'tt0355594': 0.04652936689549962,
 'tt0971222': 0.02135774218154081,
 'tt0400918': 0.032036613272311214,
 'tt0275979': 0.01906941266209001,
 'tt0811613': 0.016781083142639208,
 'tt0432090': 0.016781083142639208,
 'tt0400679': 0.025171624713958812,
 'tt0403935': 0.02669717772692601,
 'tt11318302': 0.033562166285278416,
 'tt0364455': 0.028222730739893214,
 'tt0258463': 0.015255530129672007,
 'tt0371775': 0.02364607170099161,
 'tt1102158': 0.03279938977879481,
 'tt0347332': 0.08161708619374523,
 'tt0338477': 0.028222730739893214,
 'tt0896911': 0.01754385964912281,
 'tt0373970': 0.048054919908466824,
 'tt0438888': 0.016018306636155607,
 'tt0362696': 0.04881769641495042,
 'tt10295602': 0.018306636155606407,
 'tt0448225': 0.02593440122044241,
 'tt0490199': 0.01754385964912281,
 'tt0274024': 0.01906941266209001,
 'tt0406977': 0.02669717772692601,
 'tt0963966': 0.016781083142639208,
 'tt0407708': 0.01906941266209001,
 'tt0403933': 0.02212051868802441,
 'tt1108831': 0.016781083142639208,
 'tt0382383': 0.04500381388253242,
 'tt0463600': 0.02364607170099161,
 'tt0400571': 0.02440884820747521,
 'tt0471862': 0.018306636155606407,
 'tt0432536': 0.028222730739893214,
 'tt0325805': 0.016781083142639208,
 'tt0377340': 0.03279938977879481,
 'tt0393879': 0.02135774218154081,
 'tt0329774': 0.038901601830663615,
 'tt0384699': 0.01906941266209001,
 'tt0327259': 0.01754385964912281,
 'tt0433416': 0.016781083142639208,
 'tt0317705': 0.02212051868802441,
 'tt0827695': 0.018306636155606407,
 'tt1114733': 0.032036613272311214,
 'tt0450385': 0.02212051868802441,
 'tt0406906': 0.052631578947368425,
 'tt0828401': 0.015255530129672007,
 'tt0338959': 0.02364607170099161,
 'tt0481053': 0.01754385964912281,
 'tt0337626': 0.015255530129672007,
 'tt1028559': 0.05186880244088482,
 'tt0862946': 0.015255530129672007,
 'tt0867396': 0.028222730739893214,
 'tt10369344': 0.01754385964912281,
 'tt1129442': 0.018306636155606407,
 'tt0356781': 0.032036613272311214,
 'tt0452623': 0.016018306636155607,
 'tt11291274': 0.016781083142639208,
 'tt0292352': 0.016018306636155607,
 'tt0795370': 0.015255530129672007,
 'tt0845464': 0.016018306636155607,
 'tt0368721': 0.016781083142639208,
 'tt0308347': 0.04729214340198322,
 'tt1127220': 0.04042715484363082,
 'tt10623274': 0.05644546147978643,
 'tt10698680': 0.022883295194508012,
 'tt1111918': 0.015255530129672007,
 'tt10307922': 0.01906941266209001,
 'tt0897413': 0.015255530129672007,
 'tt0465142': 0.016781083142639208,
 'tt0823451': 0.016781083142639208,
 'tt0401448': 0.01754385964912281,
 'tt0924232': 0.018306636155606407,
 'tt0487011': 0.02364607170099161,
 'tt10133460': 0.018306636155606407,
 'tt0455545': 0.05110602593440122,
 'tt0494290': 0.02440884820747521,
 'tt10428942': 0.016781083142639208,
 'tt0398286': 0.01906941266209001,
 'tt0325948': 0.01906941266209001,
 'tt0357111': 0.01906941266209001,
 'tt0925130': 0.016781083142639208,
 'tt0345601': 0.02212051868802441,
 'tt0448011': 0.016781083142639208,
 'tt10463030': 0.016781083142639208,
 'tt0368891': 0.016781083142639208,
 'tt0403965': 0.01754385964912281,
 'tt10816510': 0.016781083142639208,
 'tt0397882': 0.057971014492753624,
 'tt10690676': 0.016781083142639208,
 'tt0483180': 0.025171624713958812,
 'tt0483988': 0.018306636155606407,
 'tt10017680': 0.018306636155606407,
 'tt0441674': 0.015255530129672007,
 'tt0758734': 0.02440884820747521,
 'tt0499261': 0.015255530129672007,
 'tt0399327': 0.02212051868802441,
 'tt0445946': 0.016018306636155607,
 'tt0972800': 0.01754385964912281,
 'tt0396456': 0.028222730739893214,
 'tt0449228': 0.028222730739893214,
 'tt0366720': 0.016018306636155607,
 'tt0475627': 0.02669717772692601,
 'tt0365737': 0.015255530129672007,
 'tt0463650': 0.06102212051868803,
 'tt1137434': 0.02440884820747521,
 'tt1102325': 0.018306636155606407,
 'tt0471818': 0.016018306636155607,
 'tt0379488': 0.016781083142639208,
 'tt0417229': 0.016781083142639208,
 'tt0444913': 0.06331045003813883,
 'tt11045422': 0.018306636155606407,
 'tt11076480': 0.018306636155606407,
 'tt0997142': 0.03279938977879481,
 'tt0790682': 0.01754385964912281,
 'tt0464162': 0.016781083142639208,
 'tt0330082': 0.07093821510297484,
 'tt0335044': 0.016781083142639208,
 'tt0305811': 0.05110602593440122,
 'tt0499375': 0.03508771929824562,
 'tt0140806': 0.016018306636155607,
 'tt0389337': 0.02593440122044241,
 'tt0972789': 0.032036613272311214,
 'tt1092005': 0.02669717772692601,
 'tt0355295': 0.015255530129672007,
 'tt0348333': 0.015255530129672007,
 'tt0485272': 0.01906941266209001,
 'tt0885505': 0.01906941266209001,
 'tt0390597': 0.052631578947368425,
 'tt11260832': 0.028222730739893214,
 'tt1073653': 0.025171624713958812,
 'tt0345413': 0.016018306636155607,
 'tt0438986': 0.015255530129672007,
 'tt0332706': 0.01754385964912281,
 'tt0361089': 0.016781083142639208,
 'tt0343856': 0.01754385964912281,
 'tt0391165': 0.04271548436308162,
 'tt1043876': 0.02440884820747521,
 'tt0479341': 0.016781083142639208,
 'tt10612336': 0.01754385964912281,
 'tt0844866': 0.034324942791762014,
 'tt0339878': 0.016018306636155607,
 'tt0385887': 0.016781083142639208,
 'tt0349260': 0.02212051868802441,
 'tt0377575': 0.05415713196033563,
 'tt0418880': 0.05186880244088482,
 'tt0460796': 0.016018306636155607,
 'tt1137979': 0.02440884820747521,
 'tt0483753': 0.01754385964912281,
 'tt0437405': 0.015255530129672007,
 'tt0477252': 0.018306636155606407,
 'tt0310924': 0.01906941266209001,
 'tt0353725': 0.05415713196033563,
 'tt0287448': 0.018306636155606407,
 'tt0806088': 0.028222730739893214,
 'tt0349172': 0.015255530129672007,
 'tt0929620': 0.03508771929824562,
 'tt1087906': 0.016018306636155607,
 'tt0341266': 0.02669717772692601,
 'tt10087134': 0.02593440122044241,
 'tt0383702': 0.036613272311212815,
 'tt0413099': 0.016018306636155607,
 'tt0483977': 0.03508771929824562,
 'tt0368894': 0.018306636155606407,
 'tt10300276': 0.016781083142639208,
 'tt0867401': 0.025171624713958812,
 'tt0960734': 0.02135774218154081,
 'tt0373432': 0.028222730739893214,
 'tt0337578': 0.050343249427917625,
 'tt0423877': 0.01906941266209001,
 'tt0947810': 0.015255530129672007,
 'tt1102330': 0.04652936689549962,
 'tt0484207': 0.016018306636155607,
 'tt1022884': 0.028222730739893214,
 'tt0928187': 0.048054919908466824,
 'tt0422091': 0.01906941266209001,
 'tt0465676': 0.01906941266209001,
 'tt0461187': 0.015255530129672007,
 'tt0375040': 0.01906941266209001,
 'tt0374271': 0.01906941266209001,
 'tt0389845': 0.01906941266209001,
 'tt0446272': 0.018306636155606407,
 'tt0399942': 0.02440884820747521,
 'tt0466398': 0.015255530129672007,
 'tt0493456': 0.015255530129672007,
 'tt0431975': 0.015255530129672007,
 'tt0463429': 0.01754385964912281,
 'tt0951385': 0.04881769641495042,
 'tt0760169': 0.015255530129672007,
 'tt0420175': 0.016018306636155607,
 'tt0386029': 0.03508771929824562,
 'tt0375958': 0.015255530129672007,
 'tt0896798': 0.02212051868802441,
 'tt0479948': 0.02212051868802441,
 'tt1039989': 0.043478260869565216,
 'tt0992911': 0.018306636155606407,
 'tt1039903': 0.015255530129672007,
 'tt0382842': 0.032036613272311214,
 'tt0417217': 0.015255530129672007,
 'tt0411477': 0.01906941266209001,
 'tt1139780': 0.02212051868802441,
 'tt0257076': 0.02212051868802441,
 'tt0816605': 0.05339435545385202,
 'tt0331421': 0.016018306636155607,
 'tt0478404': 0.016018306636155607,
 'tt0430710': 0.025171624713958812,
 'tt0451833': 0.01906941266209001,
 'tt1034449': 0.022883295194508012,
 'tt0416120': 0.028222730739893214,
 'tt0832266': 0.015255530129672007,
 'tt0416825': 0.015255530129672007,
 'tt0454578': 0.016781083142639208,
 'tt10699086': 0.028222730739893214,
 'tt0455663': 0.03508771929824562,
 'tt0970179': 0.015255530129672007,
 'tt0422716': 0.015255530129672007,
 'tt0923923': 0.018306636155606407,
 'tt1135923': 0.018306636155606407,
 'tt0915463': 0.016781083142639208,
 'tt0315297': 0.02212051868802441,
 'tt0882969': 0.016018306636155607,
 'tt0366169': 0.02135774218154081,
 'tt0466460': 0.02440884820747521,
 'tt1091821': 0.015255530129672007,
 'tt11390864': 0.02593440122044241,
 'tt0459449': 0.03508771929824562,
 'tt11122324': 0.018306636155606407,
 'tt0387269': 0.016781083142639208,
 'tt0870984': 0.016781083142639208,
 'tt0484095': 0.015255530129672007,
 'tt0366985': 0.041189931350114416,
 'tt11433724': 0.03508771929824562,
 'tt1105741': 0.04424103737604882,
 'tt0973783': 0.028222730739893214,
 'tt0369795': 0.015255530129672007,
 'tt1014079': 0.016018306636155607,
 'tt0474819': 0.028222730739893214,
 'tt0357154': 0.018306636155606407,
 'tt11268936': 0.03585049580472922,
 'tt0433605': 0.01906941266209001,
 'tt10662184': 0.016018306636155607,
 'tt0898943': 0.016781083142639208,
 'tt0314180': 0.01906941266209001,
 'tt0354953': 0.018306636155606407,
 'tt0292610': 0.02212051868802441,
 'tt0371937': 0.015255530129672007,
 'tt0390272': 0.018306636155606407,
 'tt0769507': 0.016018306636155607,
 'tt0417148': 0.02212051868802441,
 'tt0454391': 0.034324942791762014,
 'tt0276830': 0.02212051868802441,
 'tt0449306': 0.034324942791762014,
 'tt1031256': 0.04271548436308162,
 'tt0430702': 0.02440884820747521,
 'tt0375669': 0.016018306636155607,
 'tt0285531': 0.016018306636155607,
 'tt1032763': 0.01906941266209001,
 'tt0442764': 0.03279938977879481,
 'tt0382010': 0.016018306636155607,
 'tt0490210': 0.04958047292143402,
 'tt0318176': 0.02212051868802441,
 'tt0831887': 0.02212051868802441,
 'tt0432188': 0.028222730739893214,
 'tt1006881': 0.016018306636155607,
 'tt10324144': 0.016781083142639208,
 'tt0321067': 0.031273836765827616,
 'tt0358295': 0.018306636155606407,
 'tt0357462': 0.03813882532418002,
 'tt0867235': 0.025171624713958812,
 'tt0808904': 0.02593440122044241,
 'tt0359013': 0.015255530129672007,
 'tt10333912': 0.03279938977879481,
 'tt0433400': 0.015255530129672007,
 'tt0800092': 0.028222730739893214,
 'tt0368811': 0.02440884820747521,
 'tt0419058': 0.06483600305110603,
 'tt0463872': 0.036613272311212815,
 'tt0929754': 0.03279938977879481,
 'tt0834136': 0.02135774218154081,
 'tt0466893': 0.015255530129672007,
 'tt0327761': 0.02364607170099161,
 'tt0284479': 0.01906941266209001,
 'tt0374887': 0.022883295194508012,
 'tt11165768': 0.028222730739893214,
 'tt0461604': 0.01754385964912281,
 'tt0339252': 0.03508771929824562,
 'tt1034053': 0.03508771929824562,
 'tt0433362': 0.016781083142639208,
 'tt0399201': 0.016781083142639208,
 'tt0358082': 0.016781083142639208,
 'tt10876506': 0.01906941266209001,
 'tt0451631': 0.02669717772692601,
 'tt0946999': 0.016781083142639208,
 'tt11433838': 0.031273836765827616,
 'tt0342609': 0.02135774218154081,
 'tt0493464': 0.016018306636155607,
 'tt0303327': 0.028222730739893214,
 'tt0778784': 0.015255530129672007,
 'tt1102257': 0.01754385964912281,
 'tt0346507': 0.028222730739893214,
 'tt0399295': 0.016781083142639208,
 'tt10350922': 0.028222730739893214,
 'tt11433822': 0.018306636155606407,
 'tt0924229': 0.03508771929824562,
 'tt0454429': 0.016018306636155607,
 'tt0322653': 0.016781083142639208,
 'tt0415380': 0.018306636155606407,
 'tt0342624': 0.03966437833714722,
 'tt0948535': 0.01754385964912281,
 'tt1046239': 0.01754385964912281,
 'tt0478701': 0.015255530129672007,
 'tt0995031': 0.028222730739893214,
 'tt10850614': 0.028222730739893214,
 'tt0450329': 0.01754385964912281,
 'tt1102315': 0.038901601830663615,
 'tt0857395': 0.04042715484363082,
 'tt1130080': 0.015255530129672007,
 'tt0338395': 0.028222730739893214,
 'tt10622122': 0.018306636155606407,
 'tt0419515': 0.015255530129672007,
 'tt0468754': 0.015255530129672007,
 'tt0463311': 0.02212051868802441,
 'tt0881930': 0.028222730739893214,
 'tt0387898': 0.015255530129672007,
 'tt0363472': 0.028222730739893214,
 'tt0410952': 0.032036613272311214,
 'tt0421775': 0.02364607170099161,
 'tt11020698': 0.028222730739893214,
 'tt0409016': 0.018306636155606407,
 'tt0496806': 0.015255530129672007,
 'tt0349703': 0.03279938977879481,
 'tt0433020': 0.018306636155606407,
 'tt0357536': 0.025171624713958812,
 'tt0456643': 0.02135774218154081,
 'tt0393875': 0.015255530129672007,
 'tt0808164': 0.016781083142639208,
 'tt0393452': 0.018306636155606407,
 'tt0408126': 0.02364607170099161,
 'tt0444769': 0.04729214340198322,
 'tt0478705': 0.01906941266209001,
 'tt0469066': 0.015255530129672007,
 'tt0342299': 0.018306636155606407,
 'tt0347416': 0.06331045003813883,
 'tt0492330': 0.01754385964912281,
 'tt0892392': 0.02212051868802441,
 'tt0309872': 0.018306636155606407,
 'tt1079967': 0.03279938977879481,
 'tt0377133': 0.03508771929824562,
 'tt0485922': 0.025171624713958812,
 'tt0386428': 0.016018306636155607,
 'tt1087842': 0.01754385964912281,
 'tt0476847': 0.016018306636155607,
 'tt0915749': 0.01754385964912281,
 'tt0901485': 0.018306636155606407,
 'tt0453582': 0.016781083142639208,
 'tt0982875': 0.02440884820747521,
 'tt0448565': 0.02364607170099161,
 'tt0417875': 0.01754385964912281,
 'tt11182984': 0.01754385964912281,
 'tt10062556': 0.04729214340198322,
 'tt10999120': 0.015255530129672007,
 'tt0787474': 0.015255530129672007,
 'tt0984182': 0.015255530129672007,
 'tt0401410': 0.018306636155606407,
 'tt0871969': 0.015255530129672007,
 'tt0430589': 0.01906941266209001,
 'tt0492896': 0.016018306636155607,
 'tt0293662': 0.018306636155606407,
 'tt1020956': 0.016018306636155607,
 'tt0490086': 0.016018306636155607,
 'tt1074978': 0.02440884820747521,
 'tt0491175': 0.015255530129672007,
 'tt0387325': 0.02440884820747521,
 'tt0976026': 0.05110602593440122,
 'tt0440445': 0.01906941266209001,
 'tt0477255': 0.018306636155606407,
 'tt0925131': 0.032036613272311214,
 'tt0833484': 0.016781083142639208,
 'tt0897287': 0.01906941266209001,
 'tt0382385': 0.04500381388253242,
 'tt0326983': 0.028222730739893214,
 'tt0444781': 0.04958047292143402,
 'tt10794522': 0.015255530129672007,
 'tt0430326': 0.025171624713958812,
 'tt0435259': 0.02364607170099161,
 'tt0310203': 0.01906941266209001,
 'tt0369060': 0.016018306636155607,
 'tt0460592': 0.052631578947368425,
 'tt0389522': 0.02593440122044241,
 'tt0309832': 0.01754385964912281,
 'tt11100914': 0.015255530129672007,
 'tt0497611': 0.016781083142639208,
 'tt0451954': 0.01754385964912281,
 'tt0310778': 0.01906941266209001,
 'tt0478737': 0.016018306636155607,
 'tt0495596': 0.016781083142639208,
 'tt10540150': 0.018306636155606407,
 'tt0455829': 0.03508771929824562,
 'tt0315824': 0.016018306636155607,
 'tt10457418': 0.016018306636155607,
 'tt0371092': 0.018306636155606407,
 'tt0462002': 0.015255530129672007,
 'tt1075419': 0.01906941266209001,
 'tt10140990': 0.018306636155606407,
 'tt0354965': 0.016781083142639208,
 'tt1080671': 0.02135774218154081,
 'tt10230414': 0.016781083142639208,
 'tt0371924': 0.02593440122044241,
 'tt0482546': 0.016781083142639208,
 'tt0222024': 0.01906941266209001,
 'tt0762145': 0.02212051868802441,
 'tt0364604': 0.022883295194508012,
 'tt0978570': 0.02135774218154081,
 'tt10196342': 0.018306636155606407,
 'tt0463644': 0.05873379099923723,
 'tt0364970': 0.01906941266209001,
 'tt0327071': 0.01906941266209001,
 'tt0264395': 0.02212051868802441,
 'tt0400798': 0.01754385964912281,
 'tt11242718': 0.01906941266209001,
 'tt0435026': 0.016018306636155607,
 'tt0391079': 0.016781083142639208,
 'tt0953605': 0.016781083142639208,
 'tt0473365': 0.01754385964912281,
 'tt0461125': 0.02364607170099161,
 'tt0408181': 0.018306636155606407,
 'tt0867465': 0.02593440122044241,
 'tt0792992': 0.01754385964912281,
 'tt0439047': 0.015255530129672007,
 'tt1105726': 0.025171624713958812,
 'tt10981830': 0.028222730739893214,
 'tt0481222': 0.015255530129672007,
 'tt0462200': 0.02212051868802441,
 'tt10152736': 0.016781083142639208,
 'tt0416044': 0.01754385964912281,
 'tt0415003': 0.01906941266209001,
 'tt11396310': 0.03508771929824562,
 'tt0410639': 0.018306636155606407,
 'tt0481121': 0.038901601830663615,
 'tt0790770': 0.016781083142639208,
 'tt1020011': 0.028222730739893214,
 'tt0400646': 0.032036613272311214,
 'tt0791488': 0.028222730739893214,
 'tt0250223': 0.01906941266209001,
 'tt0392625': 0.016781083142639208,
 'tt1111881': 0.02593440122044241,
 'tt0412596': 0.01754385964912281,
 'tt0441035': 0.015255530129672007,
 'tt11468156': 0.016781083142639208,
 'tt0910993': 0.015255530129672007,
 'tt0425165': 0.05415713196033563,
 'tt0361411': 0.02440884820747521,
 'tt0431619': 0.016781083142639208,
 'tt0885398': 0.02440884820747521,
 'tt1043451': 0.01906941266209001,
 'tt0775440': 0.02212051868802441,
 'tt0336432': 0.018306636155606407,
 'tt0382733': 0.06559877955758962,
 'tt0415763': 0.01754385964912281,
 'tt0339572': 0.01754385964912281,
 'tt0841096': 0.02440884820747521,
 'tt0351955': 0.028222730739893214,
 'tt0483282': 0.016018306636155607,
 'tt1014070': 0.016018306636155607,
 'tt0413366': 0.06788710907704043,
 'tt1035733': 0.01906941266209001,
 'tt0979891': 0.018306636155606407,
 'tt0373856': 0.02669717772692601,
 'tt0457149': 0.016018306636155607,
 'tt0800362': 0.01906941266209001,
 'tt1020937': 0.016781083142639208,
 'tt0463486': 0.018306636155606407,
 'tt0494199': 0.01906941266209001,
 'tt10682798': 0.016781083142639208,
 'tt0258816': 0.016781083142639208,
 'tt0785069': 0.016781083142639208,
 'tt0924266': 0.028222730739893214,

In [166]:
degree_centrality2 == degree_centrality

False

In [172]:
closeness_centrality2 = nx.closeness_centrality(A2)
closeness_centrality2 == closeness_centrality

False

In [175]:
eigenvector_centrality2 = nx.eigenvector_centrality(A2, max_iter=1000)

In [177]:
betweenness_centrality2 = nx.betweenness_centrality(A2)

In [169]:
most_influential_movies = list()
for node in sorted(degree_centrality2, key=degree_centrality2.get, reverse=True):
    most_influential_movies.append(node)
    print(node, degree_centrality2[node])
print(most_influential_movies[:20])

tt1138482 0.08848207475209764
tt0347332 0.08161708619374523
tt0473310 0.08161708619374523
tt0320097 0.07398932112890923
tt0476550 0.07322654462242563
tt0924213 0.07322654462242563
tt0330082 0.07093821510297484
tt0811066 0.07017543859649124
tt0456481 0.07017543859649124
tt0294662 0.07017543859649124
tt0413366 0.06788710907704043
tt0355729 0.06712433257055683
tt0382733 0.06559877955758962
tt0419058 0.06483600305110603
tt0363409 0.06483600305110603
tt0319020 0.06483600305110603
tt0444913 0.06331045003813883
tt0347416 0.06331045003813883
tt0463650 0.06102212051868803
tt0406622 0.060259344012204424
tt0415768 0.059496567505720827
tt0410591 0.059496567505720827
tt0463644 0.05873379099923723
tt0393724 0.05873379099923723
tt0808500 0.05873379099923723
tt0397882 0.057971014492753624
tt0306434 0.057971014492753624
tt0390614 0.057971014492753624
tt0437182 0.057971014492753624
tt0338721 0.057208237986270026
tt11460992 0.057208237986270026
tt10623274 0.05644546147978643
tt0346172 0.05644546147978643
tt0377575 0.05415713196033563
tt0353725 0.05415713196033563
tt0425165 0.05415713196033563
tt0378370 0.05415713196033563
tt0438875 0.05415713196033563
tt0378542 0.05415713196033563
tt1084972 0.05415713196033563
tt0816605 0.05339435545385202
tt0406906 0.052631578947368425
tt0390597 0.052631578947368425
tt0460592 0.052631578947368425
tt0393926 0.052631578947368425
tt0463622 0.052631578947368425
tt0357236 0.052631578947368425
tt0481235 0.052631578947368425
tt0924225 0.052631578947368425
tt0887769 0.052631578947368425
tt1028559 0.05186880244088482
tt0418880 0.05186880244088482
tt0420304 0.05186880244088482
tt0187279 0.05186880244088482
tt0459605 0.05186880244088482
tt0387989 0.05186880244088482
tt0843372 0.05186880244088482
tt0455545 0.05110602593440122
tt0305811 0.05110602593440122
tt0976026 0.05110602593440122
tt0444874 0.05110602593440122
tt0816258 0.05110602593440122
tt0296574 0.05110602593440122
tt0337578 0.050343249427917625
tt0419468 0.050343249427917625
tt0490210 0.04958047292143402
tt0444781 0.04958047292143402
tt0824375 0.04958047292143402
tt0470614 0.04958047292143402
tt0449999 0.04958047292143402
tt0432047 0.04958047292143402
tt0400585 0.04958047292143402
tt0448206 0.04958047292143402
tt0377127 0.04881769641495042
tt0362696 0.04881769641495042
tt0951385 0.04881769641495042
tt0337837 0.04881769641495042
tt0357340 0.048054919908466824
tt0373970 0.048054919908466824
tt0928187 0.048054919908466824
tt0867332 0.048054919908466824
tt0444915 0.04729214340198322
tt0308347 0.04729214340198322
tt0444769 0.04729214340198322
tt10062556 0.04729214340198322
tt0468642 0.04729214340198322
tt0364621 0.04729214340198322
tt0400644 0.04729214340198322
tt0378451 0.04729214340198322
tt0872190 0.04729214340198322
tt1102250 0.04729214340198322
tt0972762 0.04729214340198322
tt0355594 0.04652936689549962
tt1102330 0.04652936689549962
tt0418362 0.04652936689549962
tt0486615 0.045766590389016024
tt0382383 0.04500381388253242
tt0382385 0.04500381388253242
tt1105741 0.04424103737604882
tt0441902 0.04424103737604882
tt1091229 0.04424103737604882
tt1039989 0.043478260869565216
tt0453671 0.043478260869565216
tt0805184 0.043478260869565216
tt0391165 0.04271548436308162
tt1031256 0.04271548436308162
tt0356774 0.04271548436308162
tt10940482 0.04195270785659802
tt0400186 0.04195270785659802
tt0485522 0.04195270785659802
tt0366985 0.041189931350114416
tt0468831 0.041189931350114416
tt0882759 0.041189931350114416
tt0418096 0.041189931350114416
tt0356803 0.04042715484363082
tt1127220 0.04042715484363082
tt0857395 0.04042715484363082
tt1095038 0.04042715484363082
tt0928191 0.04042715484363082
tt0833537 0.04042715484363082
tt0845492 0.03966437833714722
tt0342624 0.03966437833714722
tt10811166 0.03966437833714722
tt0337633 0.038901601830663615
tt1102159 0.038901601830663615
tt0329774 0.038901601830663615
tt1102315 0.038901601830663615
tt0481121 0.038901601830663615
tt0430030 0.038901601830663615
tt0349115 0.038901601830663615
tt0121766 0.038901601830663615
tt0448408 0.038901601830663615
tt0479748 0.038901601830663615
tt0357462 0.03813882532418002
tt0422950 0.03813882532418002
tt1102318 0.03813882532418002
tt0383222 0.03737604881769642
tt0841150 0.03737604881769642
tt0266697 0.036613272311212815
tt0383702 0.036613272311212815
tt0463872 0.036613272311212815
tt0494249 0.036613272311212815
tt0378194 0.036613272311212815
tt0925081 0.036613272311212815
tt11268936 0.03585049580472922
tt0376003 0.03585049580472922
tt0479997 0.03585049580472922
tt10156406 0.03585049580472922
tt0431865 0.03585049580472922
tt11262002 0.03585049580472922
tt0843326 0.03508771929824562
tt0499375 0.03508771929824562
tt0929620 0.03508771929824562
tt0483977 0.03508771929824562
tt0386029 0.03508771929824562
tt0455663 0.03508771929824562
tt0459449 0.03508771929824562
tt11433724 0.03508771929824562
tt0339252 0.03508771929824562
tt1034053 0.03508771929824562
tt0924229 0.03508771929824562
tt0377133 0.03508771929824562
tt0455829 0.03508771929824562
tt11396310 0.03508771929824562
tt0897374 0.03508771929824562
tt0282860 0.03508771929824562
tt0929613 0.03508771929824562
tt0366180 0.03508771929824562
tt0466679 0.03508771929824562
tt0455385 0.03508771929824562
tt0366840 0.03508771929824562
tt0423470 0.03508771929824562
tt11234910 0.03508771929824562
tt0292641 0.03508771929824562
tt1105721 0.03508771929824562
tt0455767 0.03508771929824562
tt0977636 0.03508771929824562
tt1034431 0.03508771929824562
tt0924234 0.03508771929824562
tt0374497 0.03508771929824562
tt0811007 0.03508771929824562
tt0471571 0.03508771929824562
tt0439869 0.03508771929824562
tt0319557 0.03508771929824562
tt0422320 0.03508771929824562
tt0376127 0.03508771929824562
tt0495044 0.03508771929824562
tt0449828 0.03508771929824562
tt0417106 0.03508771929824562
tt0340122 0.03508771929824562
tt0458062 0.03508771929824562
tt0459554 0.03508771929824562
tt0844866 0.034324942791762014
tt0454391 0.034324942791762014
tt0449306 0.034324942791762014
tt0322936 0.034324942791762014
tt1105747 0.034324942791762014
tt0390808 0.034324942791762014
tt11318302 0.033562166285278416
tt10888594 0.033562166285278416
tt0451787 0.033562166285278416
tt10309902 0.03279938977879481
tt0348656 0.03279938977879481
tt1039969 0.03279938977879481
tt1102158 0.03279938977879481
tt0377340 0.03279938977879481
tt0997142 0.03279938977879481
tt0442764 0.03279938977879481
tt10333912 0.03279938977879481
tt0929754 0.03279938977879481
tt0349703 0.03279938977879481
tt1079967 0.03279938977879481
tt0375611 0.03279938977879481
tt0405024 0.03279938977879481
tt0476649 0.03279938977879481
tt0331851 0.03279938977879481
tt0991346 0.03279938977879481
tt0364303 0.03279938977879481
tt0323013 0.03279938977879481
tt11237650 0.03279938977879481
tt0430651 0.03279938977879481
tt0457875 0.03279938977879481
tt0363235 0.03279938977879481
tt0808895 0.03279938977879481
tt10419042 0.03279938977879481
tt0483184 0.03279938977879481
tt0315642 0.03279938977879481
tt0400918 0.032036613272311214
tt1114733 0.032036613272311214
tt0356781 0.032036613272311214
tt0972789 0.032036613272311214
tt0382842 0.032036613272311214
tt0410952 0.032036613272311214
tt0925131 0.032036613272311214
tt0400646 0.032036613272311214
tt0972913 0.032036613272311214
tt0961108 0.032036613272311214
tt1102252 0.032036613272311214
tt0907859 0.032036613272311214
tt10087304 0.032036613272311214
tt0391516 0.032036613272311214
tt0460400 0.032036613272311214
tt0481499 0.032036613272311214
tt0404492 0.032036613272311214
tt0468785 0.032036613272311214
tt0356983 0.032036613272311214
tt0929607 0.032036613272311214
tt0321067 0.031273836765827616
tt11433838 0.031273836765827616
tt1054119 0.031273836765827616
tt0425210 0.031273836765827616
tt0404240 0.031273836765827616
tt1057500 0.031273836765827616
tt10092776 0.031273836765827616
tt0780484 0.031273836765827616
tt0339622 0.031273836765827616
tt0198794 0.028222730739893214
tt10029484 0.028222730739893214
tt10978650 0.028222730739893214
tt0364455 0.028222730739893214
tt0338477 0.028222730739893214
tt0432536 0.028222730739893214
tt0867396 0.028222730739893214
tt0396456 0.028222730739893214
tt0449228 0.028222730739893214
tt11260832 0.028222730739893214
tt0806088 0.028222730739893214
tt0373432 0.028222730739893214
tt1022884 0.028222730739893214
tt0416120 0.028222730739893214
tt10699086 0.028222730739893214
tt0973783 0.028222730739893214
tt0474819 0.028222730739893214
tt0432188 0.028222730739893214
tt0800092 0.028222730739893214
tt11165768 0.028222730739893214
tt0303327 0.028222730739893214
tt0346507 0.028222730739893214
tt10350922 0.028222730739893214
tt0995031 0.028222730739893214
tt10850614 0.028222730739893214
tt0338395 0.028222730739893214
tt0881930 0.028222730739893214
tt0363472 0.028222730739893214
tt11020698 0.028222730739893214
tt0326983 0.028222730739893214
tt10981830 0.028222730739893214
tt1020011 0.028222730739893214
tt0791488 0.028222730739893214
tt0351955 0.028222730739893214
tt0924266 0.028222730739893214
tt0418460 0.028222730739893214
tt0425162 0.028222730739893214
tt1068780 0.028222730739893214
tt0485861 0.028222730739893214
tt0995867 0.028222730739893214
tt11250720 0.028222730739893214
tt0483131 0.028222730739893214
tt11009968 0.028222730739893214
tt10982338 0.028222730739893214
tt0475240 0.028222730739893214
tt10644282 0.028222730739893214
tt11010106 0.028222730739893214
tt0867403 0.028222730739893214
tt0867337 0.028222730739893214
tt0418360 0.028222730739893214
tt0815890 0.028222730739893214
tt0427355 0.028222730739893214
tt0924252 0.028222730739893214
tt0453842 0.028222730739893214
tt0429683 0.028222730739893214
tt0356505 0.028222730739893214
tt0299799 0.028222730739893214
tt0488798 0.028222730739893214
tt0867404 0.028222730739893214
tt0483839 0.028222730739893214
tt0482913 0.028222730739893214
tt1105709 0.028222730739893214
tt1146325 0.028222730739893214
tt0907731 0.028222730739893214
tt0997232 0.028222730739893214
tt0448805 0.028222730739893214
tt0460541 0.028222730739893214
tt0415864 0.028222730739893214
tt0375657 0.028222730739893214
tt0373173 0.028222730739893214
tt11005744 0.028222730739893214
tt0357009 0.028222730739893214
tt0378957 0.028222730739893214
tt0997170 0.028222730739893214
tt0430735 0.028222730739893214
tt11172594 0.028222730739893214
tt0852937 0.028222730739893214
tt0444840 0.028222730739893214
tt0121569 0.028222730739893214
tt10989628 0.028222730739893214
tt0376061 0.028222730739893214
tt0795434 0.028222730739893214
tt0791533 0.028222730739893214
tt0465760 0.028222730739893214
tt0995752 0.028222730739893214
tt10978194 0.028222730739893214
tt1039995 0.02669717772692601
tt0403935 0.02669717772692601
tt0406977 0.02669717772692601
tt0475627 0.02669717772692601
tt1092005 0.02669717772692601
tt0341266 0.02669717772692601
tt0451631 0.02669717772692601
tt0373856 0.02669717772692601
tt0495034 0.02669717772692601
tt0449447 0.02669717772692601
tt0488414 0.02669717772692601
tt0319736 0.02669717772692601
tt0366880 0.02669717772692601
tt0405266 0.02669717772692601
tt0892874 0.02669717772692601
tt0326805 0.02669717772692601
tt0415908 0.02669717772692601
tt0435437 0.02669717772692601
tt0337971 0.02669717772692601
tt0448225 0.02593440122044241
tt0389337 0.02593440122044241
tt10087134 0.02593440122044241
tt11390864 0.02593440122044241
tt0808904 0.02593440122044241
tt0389522 0.02593440122044241
tt0371924 0.02593440122044241
tt0867465 0.02593440122044241
tt1111881 0.02593440122044241
tt0425389 0.02593440122044241
tt0377994 0.02593440122044241
tt0425350 0.02593440122044241
tt1034393 0.02593440122044241
tt0924212 0.02593440122044241
tt0357829 0.02593440122044241
tt10912532 0.02593440122044241
tt0842001 0.02593440122044241
tt0867280 0.02593440122044241
tt0356800 0.02593440122044241
tt0896817 0.02593440122044241
tt0482961 0.02593440122044241
tt0355760 0.02593440122044241
tt0378873 0.02593440122044241
tt0364243 0.025171624713958812
tt0363741 0.025171624713958812
tt1144442 0.025171624713958812
tt0400679 0.025171624713958812
tt0483180 0.025171624713958812
tt1073653 0.025171624713958812
tt0867401 0.025171624713958812
tt0430710 0.025171624713958812
tt0867235 0.025171624713958812
tt0357536 0.025171624713958812
tt0485922 0.025171624713958812
tt0430326 0.025171624713958812
tt1105726 0.025171624713958812
tt1084672 0.025171624713958812
tt0377445 0.025171624713958812
tt0490172 0.025171624713958812
tt0770203 0.025171624713958812
tt0425610 0.025171624713958812
tt0400764 0.025171624713958812
tt0997173 0.025171624713958812
tt0896909 0.025171624713958812
tt0435390 0.02440884820747521
tt0452541 0.02440884820747521
tt0348843 0.02440884820747521
tt0400571 0.02440884820747521
tt0494290 0.02440884820747521
tt0758734 0.02440884820747521
tt1137434 0.02440884820747521
tt1043876 0.02440884820747521
tt1137979 0.02440884820747521
tt0399942 0.02440884820747521
tt0466460 0.02440884820747521
tt0430702 0.02440884820747521
tt0368811 0.02440884820747521
tt0982875 0.02440884820747521
tt1074978 0.02440884820747521
tt0387325 0.02440884820747521
tt0361411 0.02440884820747521
tt0885398 0.02440884820747521
tt0841096 0.02440884820747521
tt0252266 0.02440884820747521
tt0492913 0.02440884820747521
tt0461062 0.02440884820747521
tt1002963 0.02440884820747521
tt0454504 0.02440884820747521
tt0409068 0.02440884820747521
tt0417735 0.02440884820747521
tt0397551 0.02440884820747521
tt0451850 0.02440884820747521
tt0453501 0.02440884820747521
tt0425478 0.02440884820747521
tt0402606 0.02440884820747521
tt0832297 0.02440884820747521
tt0495032 0.02440884820747521
tt0290219 0.02440884820747521
tt1080568 0.02440884820747521
tt1049405 0.02440884820747521
tt1024852 0.02440884820747521
tt0979902 0.02440884820747521
tt0382534 0.02440884820747521
tt0340178 0.02440884820747521
tt0286499 0.02440884820747521
tt0817178 0.02440884820747521
tt0407485 0.02440884820747521
tt0313844 0.02440884820747521
tt0345043 0.02440884820747521
tt0426075 0.02364607170099161
tt0371775 0.02364607170099161
tt0463600 0.02364607170099161
tt0338959 0.02364607170099161
tt0487011 0.02364607170099161
tt0327761 0.02364607170099161
tt0421775 0.02364607170099161
tt0408126 0.02364607170099161
tt0448565 0.02364607170099161
tt0435259 0.02364607170099161
tt0461125 0.02364607170099161
tt0448345 0.02364607170099161
tt1102185 0.02364607170099161
tt0347473 0.02364607170099161
tt0337998 0.02364607170099161
tt10483386 0.02364607170099161
tt0453150 0.02364607170099161
tt0468665 0.02364607170099161
tt0416874 0.02364607170099161
tt1102267 0.02364607170099161
tt0341458 0.02364607170099161
tt0489560 0.02364607170099161
tt0357137 0.02364607170099161
tt0358248 0.02364607170099161
tt10128024 0.02364607170099161
tt11285510 0.02364607170099161
tt0459652 0.02364607170099161
tt1054636 0.02364607170099161
tt1102313 0.02364607170099161
tt0456413 0.02364607170099161
tt0454431 0.02364607170099161
tt0800981 0.022883295194508012
tt0437407 0.022883295194508012
tt10698680 0.022883295194508012
tt1034449 0.022883295194508012
tt0374887 0.022883295194508012
tt0364604 0.022883295194508012
tt0326600 0.022883295194508012
tt0476861 0.022883295194508012
tt0409527 0.022883295194508012
tt0475645 0.022883295194508012
tt0354538 0.022883295194508012
tt0305455 0.022883295194508012
tt0456144 0.022883295194508012
tt0845448 0.022883295194508012
tt0476819 0.022883295194508012
tt0488906 0.022883295194508012
tt0922642 0.02212051868802441
tt0489099 0.02212051868802441
tt0493402 0.02212051868802441
tt0780500 0.02212051868802441
tt0914863 0.02212051868802441
tt0403933 0.02212051868802441
tt0317705 0.02212051868802441
tt0450385 0.02212051868802441
tt0345601 0.02212051868802441
tt0399327 0.02212051868802441
tt0349260 0.02212051868802441
tt0896798 0.02212051868802441
tt0479948 0.02212051868802441
tt1139780 0.02212051868802441
tt0257076 0.02212051868802441
tt0315297 0.02212051868802441
tt0292610 0.02212051868802441
tt0417148 0.02212051868802441
tt0276830 0.02212051868802441
tt0318176 0.02212051868802441
tt0831887 0.02212051868802441
tt0463311 0.02212051868802441
tt0892392 0.02212051868802441
tt0762145 0.02212051868802441
tt0264395 0.02212051868802441
tt0462200 0.02212051868802441
tt0775440 0.02212051868802441
tt0837796 0.02212051868802441
tt0787515 0.02212051868802441
tt0197996 0.02212051868802441
tt0763840 0.02212051868802441
tt0424859 0.02212051868802441
tt0349467 0.02212051868802441
tt0843878 0.02212051868802441
tt0480516 0.02212051868802441
tt1051253 0.02212051868802441
tt0413615 0.02212051868802441
tt0416185 0.02212051868802441
tt10342730 0.02212051868802441
tt0840306 0.02212051868802441
tt0393162 0.02212051868802441
tt0760157 0.02212051868802441
tt0312305 0.02212051868802441
tt0475217 0.02212051868802441
tt0488539 0.02212051868802441
tt0295701 0.02212051868802441
tt1130983 0.02212051868802441
tt0947802 0.02212051868802441
tt0458339 0.02212051868802441
tt0459998 0.02212051868802441
tt0411475 0.02212051868802441
tt0264472 0.02212051868802441
tt1023344 0.02212051868802441
tt1111948 0.02212051868802441
tt0971222 0.02135774218154081
tt0393879 0.02135774218154081
tt0960734 0.02135774218154081
tt0366169 0.02135774218154081
tt0834136 0.02135774218154081
tt0342609 0.02135774218154081
tt0456643 0.02135774218154081
tt1080671 0.02135774218154081
tt0978570 0.02135774218154081
tt0940779 0.02135774218154081
tt0393818 0.02135774218154081
tt1099998 0.02135774218154081
tt0858492 0.02135774218154081
tt0412393 0.02135774218154081
tt0924219 0.02135774218154081
tt1080774 0.02135774218154081
tt11323060 0.02135774218154081
tt10039008 0.02135774218154081
tt0834155 0.02135774218154081
tt0407297 0.01906941266209001
tt0455195 0.01906941266209001
tt0380070 0.01906941266209001
tt0475263 0.01906941266209001
tt0462465 0.01906941266209001
tt11311754 0.01906941266209001
tt0420555 0.01906941266209001
tt0451803 0.01906941266209001
tt0275979 0.01906941266209001
tt0274024 0.01906941266209001
tt0407708 0.01906941266209001
tt0384699 0.01906941266209001
tt10307922 0.01906941266209001
tt0398286 0.01906941266209001
tt0325948 0.01906941266209001
tt0357111 0.01906941266209001
tt0485272 0.01906941266209001
tt0885505 0.01906941266209001
tt0310924 0.01906941266209001
tt0423877 0.01906941266209001
tt0422091 0.01906941266209001
tt0465676 0.01906941266209001
tt0375040 0.01906941266209001
tt0374271 0.01906941266209001
tt0389845 0.01906941266209001
tt0411477 0.01906941266209001
tt0451833 0.01906941266209001
tt0433605 0.01906941266209001
tt0314180 0.01906941266209001
tt1032763 0.01906941266209001
tt0284479 0.01906941266209001
tt10876506 0.01906941266209001
tt0478705 0.01906941266209001
tt0430589 0.01906941266209001
tt0440445 0.01906941266209001
tt0897287 0.01906941266209001
tt0310203 0.01906941266209001
tt0310778 0.01906941266209001
tt1075419 0.01906941266209001
tt0222024 0.01906941266209001
tt0364970 0.01906941266209001
tt0327071 0.01906941266209001
tt11242718 0.01906941266209001
tt0415003 0.01906941266209001
tt0250223 0.01906941266209001
tt1043451 0.01906941266209001
tt1035733 0.01906941266209001
tt0800362 0.01906941266209001
tt0494199 0.01906941266209001
tt10545696 0.01906941266209001
tt0833476 0.01906941266209001
tt0187738 0.01906941266209001
tt0953369 0.01906941266209001
tt0902290 0.01906941266209001
tt0308290 0.01906941266209001
tt0399222 0.01906941266209001
tt1027760 0.01906941266209001
tt0807758 0.01906941266209001
tt0327660 0.01906941266209001
tt0430772 0.01906941266209001
tt0341495 0.01906941266209001
tt0310254 0.01906941266209001
tt0454864 0.01906941266209001
tt0348853 0.01906941266209001
tt0399738 0.01906941266209001
tt0410433 0.01906941266209001
tt0294279 0.01906941266209001
tt0902247 0.01906941266209001
tt0386005 0.01906941266209001
tt0403306 0.01906941266209001
tt0411815 0.01906941266209001
tt0490181 0.01906941266209001
tt0934446 0.01906941266209001
tt0396563 0.01906941266209001
tt0363833 0.01906941266209001
tt0464828 0.01906941266209001
tt0469318 0.01906941266209001
tt0816462 0.01906941266209001
tt0375934 0.01906941266209001
tt0475534 0.01906941266209001
tt1060249 0.01906941266209001
tt0328671 0.01906941266209001
tt0265148 0.01906941266209001
tt11058376 0.01906941266209001
tt0164003 0.01906941266209001
tt0337875 0.01906941266209001
tt0367104 0.01906941266209001

In [170]:
mim = most_influential_movies[:20]
mim_df = pd.DataFrame (mim, columns = ['tconst'])
mim_df.head()

      tconst
0  tt1138482
1  tt0347332
2  tt0473310
3  tt0320097
4  tt0476550

# Degree

In [171]:
# 
res = pd.merge(mim_df, tb_df, how='inner',on='tconst')
res.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,Action,Adult,...,Mystery,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,tt1138482,movie,Twenty:20,Twenty:20,0,2008,\N,195,1,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0347332,movie,Khakee,Khakee,0,2004,\N,174,1,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0473310,movie,Ram Gopal Varma Ki Aag,Ram Gopal Varma Ki Aag,0,2007,\N,171,1,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0320097,movie,Hum Kisi Se Kum Nahin,Hum Kisi Se Kum Nahin,0,2002,\N,161,1,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0476550,movie,God Tussi Great Ho,God Tussi Great Ho,0,2008,\N,152,0,0,...,0,0,0,0,0,0,0,0,0,0

# Closeness

In [178]:
most_influential_movies = list()
for node in sorted(closeness_centrality2, key=closeness_centrality2.get, reverse=True):
    most_influential_movies.append(node)

In [179]:
mim = most_influential_movies[:20]
mim_df = pd.DataFrame (mim, columns = ['tconst'])
mim_df.head()

      tconst
0  tt0473310
1  tt0476550
2  tt0346172
3  tt0824375
4  tt0320097

In [180]:
res = pd.merge(mim_df, tb_df, how='inner',on='tconst')
res.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,Action,Adult,...,Mystery,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,tt0473310,movie,Ram Gopal Varma Ki Aag,Ram Gopal Varma Ki Aag,0,2007,\N,171,1,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0476550,movie,God Tussi Great Ho,God Tussi Great Ho,0,2008,\N,152,0,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0346172,movie,Zamaanat: And Justice for All,Zamaanat: And Justice for All,0,2021,\N,\N,0,0,...,1,0,0,0,0,0,0,0,0,0
3,tt0824375,movie,Nishabd,Nishabd,0,2007,\N,110,0,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0320097,movie,Hum Kisi Se Kum Nahin,Hum Kisi Se Kum Nahin,0,2002,\N,161,1,0,...,0,0,0,0,0,0,0,0,0,0

# Eigenvector

In [193]:
most_influential_movies = list()
for node in sorted(eigenvector_centrality2, key=eigenvector_centrality2.get, reverse=True):
    most_influential_movies.append(node)

In [194]:
mim = most_influential_movies[:20]
mim_df = pd.DataFrame (mim, columns = ['tconst'])
mim_df.head()

      tconst
0  tt0347332
1  tt0320097
2  tt0473310
3  tt0811066
4  tt0294662

In [195]:
res = pd.merge(mim_df, tb_df, how='inner',on='tconst')
res.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,Action,Adult,...,Mystery,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,tt0347332,movie,Khakee,Khakee,0,2004,\N,174,1,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0320097,movie,Hum Kisi Se Kum Nahin,Hum Kisi Se Kum Nahin,0,2002,\N,161,1,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0473310,movie,Ram Gopal Varma Ki Aag,Ram Gopal Varma Ki Aag,0,2007,\N,171,1,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0811066,movie,Shootout at Lokhandwala,Shootout at Lokhandwala,0,2007,\N,122,1,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0294662,movie,Kaante,Kaante,0,2002,\N,154,1,0,...,0,0,0,0,0,0,0,0,0,0

# Betweenness

In [190]:
most_influential_movies = list()
for node in sorted(betweenness_centrality2, key=betweenness_centrality2.get, reverse=True):
    most_influential_movies.append(node)

In [191]:
mim = most_influential_movies[:20]
mim_df = pd.DataFrame (mim, columns = ['tconst'])
mim_df.head()

       tconst
0   tt0473310
1   tt0824375
2   tt1138482
3  tt10940482
4   tt0816605

In [192]:
res = pd.merge(mim_df, tb_df, how='inner',on='tconst')
res.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,Action,Adult,...,Mystery,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,tt0473310,movie,Ram Gopal Varma Ki Aag,Ram Gopal Varma Ki Aag,0,2007,\N,171,1,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0824375,movie,Nishabd,Nishabd,0,2007,\N,110,0,0,...,0,0,0,0,0,0,0,0,0,0
2,tt1138482,movie,Twenty:20,Twenty:20,0,2008,\N,195,1,0,...,0,0,0,0,0,0,0,0,0,0
3,tt10940482,movie,Oru Avadhikaalam,Oru Avadhikaalam,0,2010,\N,85,0,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0816605,movie,Paramasivan,Paramasivan,0,2006,\N,160,1,0,...,0,0,0,0,0,0,0,1,0,0